.savedbanner {
	height: 150px;
	width: 400px;
    margin: 2px;
    margin-top: 50px;
    background-image: url(./img/burnbanner.png);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    align-content: center;
}

.savedBackground {
	height: 260px;
	max-width: 320px;
	max-height: 260px;
	width: 320px;
	margin: 15px;
	background-image: url(../../pages/img/front-end-images/tornpaperbackground.png);
	background-size: 100%;
	font-family: 'Grenze Gotisch', cursive;
}

.savedContent {
    margin-left: 25px;
    padding-top: 25px;
    font-size: 28px;
}

.savedCharImage {
	height: 260px;
	max-width: 260px;
	max-height: 260px;
	width: 260px;
	margin: 10px;
    background-image: url(../CharacterImage/images-borders/fighter-border.png);
    background-size: 260px;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    margin-left: auto;
    margin-right:auto;
}

.savedStats {
    display: inline-flex;
}

.savedacStat {
	height: 150px;
	max-width: 150px;
	max-height: 150px;
	width: 150px;
	margin-top: 0px;
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: 0px;
    background-image: url(./img/acfull.png);
    background-size: 150px;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 300;
    font-size: 22px;
}

.savedstatBackground {
	height: 130px;
	max-width: 130px;
	max-height: 130px;
	width: 130px;
    margin-left:8px;
    margin-right:8px;
    margin-top:25px;
    margin-bottom: 5px;
    background-image: url(./img/stat-frame.png);
    background-size: 100%;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 300;
    font-size: 22px;
}

.savedhpStat {
	height: 145px;
	max-width: 145px;
	max-height: 145px;
	width: 145px;
    margin-top: 18px;
    margin-bottom: 10px;
    margin-right: 8px;
    margin-left: 5px;
    background-image: url(./img/hpfull.png);
    background-size: 145px;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 300;
    font-size: 22px;
}

.savedhp {
    margin-top: 25px;
}

.savedacText {
    padding-top: 30px;
    font-size: 28px;
}

.savedAC {
    font-size:20px;
}

.statsbreakone {
    display: inline-flex;
}

.statsbreaktwo {
    display: inline-flex;
}

.savedBtn {
    margin-left: 35px;
    margin-right: 20px;
    margin-top: 15px;
    font-family: 'Grenze Gotisch', cursive;
    border: none;
}

.selectdelete {
    display: flex;
    align-content: center;
    justify-content: center;
}

.level {
    display: none;
}

.sideStat {
    padding-top: 10px;
}

@media screen and (min-width:640px) and (max-width:760px) {

    .group {
        width:100%;
        align-content: center;
        margin-left:auto;
        margin-right:auto;
    }

    .columnOne {
        margin-left:auto;
        margin-right:auto;
    }

}

@media only screen and (max-width:640px) {
    
    .group {
        display: initial;
        width:100%;
        align-content: center;
        margin-left:auto;
        margin-right:auto;
    }

    .columnOne {
        display: flex;
        margin-left:auto;
        margin-right:auto;
        align-content: center;
        justify-content: center;
    }

    .columnTwo {
        display: flex;
        margin-left:auto;
        margin-right:auto;
        align-content: center;
        justify-content: center;
    }

    .savedbanner {
        margin-left: auto;
        margin-right: auto;
        margin-top: 8px;
        width: 92%;
    }

    .charLogo {
        margin: 3px;
    }

    .level {
        display: none;
    }

    #selectcharacter1 {
        margin-top: 5px;
        margin-bottom: 15px;
    }

    #selectcharacter2 {
        margin-top: 5px;
        margin-bottom: 15px;
    }

    #deletecharacter1 {
        margin-top: 5px;
        margin-bottom: 15px;
    }

    #deletecharacter2 {
        margin-top: 5px;
        margin-bottom: 15px;
    }

    #selectcharacter3 {
        margin-top: 5px;
        margin-bottom: 50px;
    }

    #deletecharacter3 {
        margin-top: 5px;
        margin-bottom: 50px;
    }

}
