.modalTitle {
    position: relative;
    width: 500px;
    top: 40px;
    left: 40px;
}

.modalCSS {
    font-family: 'Grenze Gotisch', cursive;
    padding: 3px;
    font-size: 48px;
    position: relative;
}

.navigation {
    display: flex;
    justify-content: space-around;
    position: relative; 
    background-color: transparent;
    top: 248px;
    right: 5px;
}

/* register button needs to send information to the back end.  */

.button {
    display: relative;
    margin: 15px;
    background-color: transparent;
    
}

.register {
    position: relative;
    /* margin-left: 170px;   */
    
}

.audit {
    position: relative;
    /* margin-left: 170px;  */
    left: 2px;   
      
}

.login {
    position: relative;
    left: 12px;
    
}
/* 
.close-button {
    position: relative;
    right: 120px;
    top: 24px;
    font-size: 30px;
    
} */

.setup {
    position: relative;
    height: 733px!important;
    width: 850px!important;
    background-image: url(./background.png);
    background-size: 100%;    
    background-color: transparent!important;
    border:none;
    background-repeat: no-repeat;
}


.modalP2 {
    position: relative;
    margin: 0px;
    font-size: 24px;    
    margin-top: 10px;
    width: 600px;
    top: 100px;
    left: 120px;
    padding: 0px;
}