.statBackground {
	height: 150px;
	max-width: 150px;
	max-height: 150px;
	width: 150px;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    margin-bottom: 25px;
    background-image: url(../assets/img/stat-frame.png);
    background-size: 100%;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 300;
    font-size: 22px;
}

.statHelpButton {
    text-align: right;
    font-size: 16px;
    margin: 3px;
}

.sideStat {
    padding: 5px;
    font-size: 35px;
}

.statMod {
    padding: 5px;
    font-size: 20px;
}

.statTitle {
    font-size: 25px;
}

.small {   
    position: relative;
    height: 733px!important;
    width: 850px!important;
    background-image: url(../assets/img/tornpaperbackground.png);
    background-size: 100%!important;
    background-color: transparent!important;
    border:none;
    background-repeat: no-repeat;  

}

.modalP {
    position: relative;
    margin-left: 50px;
    padding-left: 40px;
    font-size: 24px;
    text-align: left;
    margin-top: 30px;
    width: 400px; 
    top: 30px;   
}

.modalTitle {
    position: relative;
    left: 30px;
    margin-left: 22px;
    font-size: 40px;
    text-align: left;
}

.close-button {
    position: relative; 
    margin-right: 50px;
    left: 10px;   
    color: black;
}
