.statBackground {
	height: 150px;
	max-width: 150px;
	max-height: 150px;
	width: 150px;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    margin-bottom: 25px;
    background-image: url(../assets/img/stat-frame.png);
    background-size: 100%;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 300;
    font-size: 22px;
}

.statHelpButton {
    text-align: right;
    font-size: 16px;
    margin: 3px;
}

.sideStat {
    padding: 5px;
    font-size: 35px;
}

.statMod {
    padding: 5px;
    font-size: 20px;
}

.statTitle {
    font-size: 25px;
}

.small {
    height: 230px;
    background-image: url(../assets/img/tornpaperbackground.png);
    background-size: 100%;
    background-color: black;
    border:none;
}

.close-button {
    margin-right: 25px;
    color: black;
}
