.statBackground {
	height: 150px;
	max-width: 150px;
	max-height: 150px;
	width: 150px;
	margin: 15px;
    background-image: url(../assets/img/stat-frame.png);
    background-size: 150px;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 300;
    font-size: 22px;
}

.statHelpButton {
    text-align: right;
    font-size: 16px;
    margin: 2px;
    opacity: 85%;
}

.sideStat {
    padding: 5px;
    font-size: 35px;
}

.statMod {
    padding: 5px;
    font-size: 20px;
}

.statTitle {
    font-size: 25px;
}