.auditCSS {
    font-family: 'Grenze Gotisch', cursive;
    /* padding: 10px; */
    font-size: 40px;
}

.button {
    font-family: 'Grenze Gotisch', cursive;
    padding: 0px;
    font-size: 30px;
}
/* 
.close-button {
    position: relative;
    top: 150px;
    right: 100px;
    font-size: 30px;
} */


.large {    
    height: 788px!important;
    width: 1297px!important;
    /* background-image: url(./assets/book.png); */
    /* background-size: 50%; */
    background-color: transparent!important;
    background-repeat: no-repeat;
    border: none;
}


