.raceCSS {
    font-family: 'Grenze Gotisch', cursive;
    /* padding: 10px; */
    font-size: 40px;
}

.button {
    font-family: 'Grenze Gotisch', cursive;
    padding: 0px;
    font-size: 30px;
    background-color: transparent;
    color: wheat;
}

.button:hover {
    background-color: transparent;
    color:  rgb(170, 160, 15)!important;
}

.button::after {
    color:wheat;
}



.raceModal {    
    height: 788px!important;
    width: 1297px!important;
    background-color: transparent!important;
    background-repeat: no-repeat;
    border: none;
}

@media screen and (min-width:640px) and (max-width:760px) {

    .diceCSS {
    display: none;
    }
}

@media only screen and (max-width:640px) {

    .view-port {
        width: 28%;
        height: 5%;
        margin: 0px;
    }

    .raceModal {
        height: 200px;
    }

}


