.hpStat {
	height: 180px;
	max-width: 180px;
	max-height: 180px;
	width: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(./img/hpfull.png);
    background-size: 180px;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 300;
    font-size: 22px;
}

.hpHelpButton {
    text-align: right;
    font-size: 16px;
    margin: 15px;
    opacity:75%;
}

.hpTextNum {
    font-size: 28px;
    display: inline-flex;
}

.hpBold {
    font-weight: 800;
    margin-top: 15px;
    color: black;
}

.hp {
    margin-top: 15px;
}

.hp-guide {
    margin-top: 10px;
}