.navbarBottom {
    width:100%;
    background: rgb(8, 8, 8);
    height:80px;
    font-size:62px;
}

i {
    margin-left: 45px;
    margin-right: 45px;
}

.dice-nav {
    color:wheat;
    font-weight: 200;
    text-transform: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Grenze Gotisch', cursive;
    background: rgb(8, 8, 8);

}

.navbar-light .navbar-brand {
	color: wheat!important;
}

.navbar-light .navbar-brand:hover {
	color: rgb(170, 160, 15)!important;
}

.navbar-light .navbar-brand:active {
	color: blue!important;
}



