.navbarBottom {
    width:100%;
    background: rgb(8, 8, 8);
    height:50px;
    font-size:38px;
}

i {
    color: wheat;
}

.dice-nav {
    font-weight: 200;
    text-transform: none;
    display: inline-flex;
    align-items: center;

}

.navbar-light .navbar-brand {
	color: wheat!important;
}

.navbar-light .navbar-brand:hover {
	color: rgb(170, 160, 15)!important;
}

.navbar-light .navbar-brand:active {
	color: blue!important;
}
