.mobileNav {
    display: none;
}

.navbarTop {
    width:100%;
    background: rgb(8, 8, 8);
    height:56px;
}

a {
    color: wheat;
}

#logout {
    color: wheat;
}

.navbar-brand {
    font-weight: 200;
    text-transform: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 20px;
    background: rgb(8, 8, 8);
    color: wheat;

}

.topNav-icon {
    color: wheat;
}

.navbar-light .navbar-brand {
	color: wheat!important;
}

.navbar-light .navbar-brand:hover {
	color: rgb(170, 160, 15)!important;
}

.navbar-light .navbar-brand:active {
	color: blue!important;
}

@media screen and (min-width:640px) and (max-width:760px) {

    .desktopNav {
        display: none;
    }

    .pos-f-t {
        display: initial;
    }
}

@media only screen and (max-width:640px) {

    .desktopNav {
        display: none;
    }

    .mobileNav {
        display: initial;
    }

    .navbar-toggler {
        color: wheat;
    }

    .navbar-brand {
        margin:0px;
    }
}