.skillsBackground {
   
	height: 290px;
	max-width: 360px;
	max-height: 290px;
	width: 360px;
	margin: 5px;
    background-image: url(../../pages/img/front-end-images/tornpaperbackground.png);
    background-size: 360px;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 300;
    font-size: 22px;   
    margin-left: auto;
    margin-right: auto;
}

.skillsHelpButton {
    text-align: right;
    font-size: 16px;
    margin:1px;
    padding-right:20px;
    padding-top: 10px;
}

.skillsTitle {
    text-align: left;
    padding-left:20px;
    font-size: 28px;
}

.skillsText {
    text-align: left;
    padding-left:24px;
    margin-top: 10px;
    font-size: 24px;
}

.modalHeading {
    font-size: 36px;
    text-align: left;
    padding-left:30px;
    margin-top: 3px;
}

.modalP {
    padding-bottom: 5px;
}



