.auditCharacterImage {
	height: 260px;
	max-width: 260px;
	max-height: 260px;
	width: 260px;
	margin: 10px;
    background-image: url(./images-female/elf-mage-3.png);
    background-size: 260px;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 300;
    font-size: 22px;
    margin-left: auto;
    margin-right:auto;
    background-repeat: no-repeat;
}
.auditFighterImage {
	height: 260px;
	max-width: 260px;
	max-height: 260px;
	width: 260px;
	margin: 10px;
    background-image: url(./images-female/elf-fighter-2.png);
    background-size: 260px;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 300;
    font-size: 22px;
    margin-left: auto;
    margin-right:auto;
    background-repeat: no-repeat;

}
.auditRogueImage {
	height: 260px;
	max-width: 260px;
	max-height: 260px;
	width: 260px;
	margin: 10px;
    background-image: url(./images-female/human-rogue-3.png);
    background-size: 260px;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 300;
    font-size: 22px;
    margin-left: auto;
    margin-right:auto;
    background-repeat: no-repeat;
}
.auditWizardImage {
	height: 260px;
	max-width: 260px;
	max-height: 260px;
	width: 260px;
	margin: 10px;
    background-image: url(./images-female/human-mage-2.png);
    background-size: 260px;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 300;
    font-size: 22px;
    margin-left: auto;
    margin-right:auto;
    background-repeat: no-repeat;
}
.auditClericImage {
	height: 260px;
	max-width: 260px;
	max-height: 260px;
	width: 260px;
	margin: 10px;
    background-image: url(./images-male/dwarf-cleric-2.png);
    background-size: 260px;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 300;
    font-size: 22px;
    margin-left: auto;
    margin-right:auto;
    background-repeat: no-repeat;
}
.auditRangerImage {
    position: relative;
	height: 360px;
	max-width: 360px;
	max-height: 360px;
	width: 360px;	
    background-image: url(./images-male/elf-ranger-1.png);
    background-size: 360px;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 300;
    font-size: 22px; 
    margin-left: auto;
    margin-right:auto;
    background-repeat: no-repeat;
}
.auditBardImage {
	height: 260px;
	max-width: 260px;
	max-height: 260px;
	width: 260px;
	margin: 10px;
    background-image: url(./images-male/tiefling-bard-2.png);
    background-size: 260px;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 300;
    font-size: 22px;
    margin-left: auto;
    margin-right:auto;
    background-repeat: no-repeat;
}


.avatar {
    height: 350px;
    width: 350px;
    margin: 40px, 40px, 40px, 40px;
    padding: 40px;
    position: relative;
    border: 30px;
      
}

.playerBorder {
	height: 300px;
	max-width: 300px;
	max-height: 300px;
    width: 300px;
    margin: 0px;    
    position: absolute;
    background-image: url(./images-borders/cleric-border.png);
    background-size: 300px, cover;
    background-repeat: no-repeat;
    z-index: 1;
   
    /* background-position: center; */
    /* text-align: center; */
    /* font-family: 'Grenze Gotisch', cursive;
    font-weight: 300;
    font-size: 22px; */
    /* margin-left: auto;
    margin-right: auto; */
}

.playerImage {
	height: 250px;
	max-width: 300px;
	max-height: 300px;
    width: 250px;
    margin: 30px;  
    border-radius: 999px;
    background-image: url(./images-portraits/dwarf-cleric-1.jpg);
    background-size: 250px, cover;
    position: absolute;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 200;
    font-size: 22px;
    z-index: 0;
}

.charLogo {
    height: 250px;
    width: 250px;
}

.imgCenter {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

