.banner {
	height: 180px;
	max-width: 500px;
	max-height: 180px;
	width: 500px;
	margin: 20px;
    background-image: url(./img/burnbanner.png);
    background-size: 500px;
    text-align: center;
    align-content: center;
}

.namebanner {
    font-family: 'Grenze Gotisch', cursive;
    font-weight: 300;
    font-size: 35px;
    padding: 10px;
    margin: 10px;
}

.dropdown {
    font-size: 24px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding:10px;
}

.nbHelpButton {
    text-align: right;
    font-size: 16px;
    margin: 15px;
    opacity: 90%;
}

.input {
    text-align: center;
    background: transparent;
    border: none;
    font-size: 36px;
    box-shadow: none;
    margin: 2px;
}